@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,400;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  z-index: 0;
  overflow-x: hidden;
}
.screen-overlay {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  position: static;
}

.return-btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.return-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.game-box {
  color: azure;
  position: relative;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 820px;
  height: 650px;
  background: transparent;
  border: 2px solid rgba(119, 92, 92, 0.5);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

h1 {
  font-family: "Spectral", serif;
  color: aliceblue;
  text-decoration: underline;
  letter-spacing: 4px;
}

#whoseTurn {
  font-family: "Spectral", serif;
  font-size: 18px;
  font-weight: 200;
}

#untranslatedWord {
  font-weight: 400;
  font-family: "Spectral", serif;
  font-size: 25px;
}

#wordToGuess {
  font-weight: 400;
  font-family: "Spectral", serif;
  font-size: 35px;
  letter-spacing: 10px;
  overflow: hidden;
}

.middelconatiner {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  -ms-flex-align: center;
}

.dutchcontainer {
  width: 33.33%;
}

.germancontainer {
  width: 33.33%;
}

#keyboard {
  width: 100%;
  flex-direction: column;
  text-align: center;
}

#keyboard button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
}
#keyboard button:hover {
  background-color: #007bff;
  color: #fff;
}
#hangman {
  width: 33.33%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/empty-galg.png);
  background-position: center;
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

#head {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-galg.png);
  background-position: center;

  position: absolute;
  z-index: 11;
  background-repeat: no-repeat;
}

#body {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-body-galg.png);
  position: absolute;
  z-index: 12;
  background-repeat: no-repeat;
  background-position: center;
}

#leftArm {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-body-rightarm-galg.png);
  position: absolute;
  z-index: 13;
  background-repeat: no-repeat;
  background-position: center;
}

#rightArm {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-body-rightarm-leftarm-galg.png);
  position: absolute;
  z-index: 14;
  background-repeat: no-repeat;
  background-position: center;
}

#leftLeg {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-body-rightarm-leftarm-rightleg-galg.png);
  position: absolute;
  z-index: 15;
  background-repeat: no-repeat;
  background-position: center;
}

#rightLeg {
  width: 100%;
  height: 100%;
  background-size: 100%; /* Adjust the percentage as needed */
  background-image: url(../images/head-body-rightarm-leftarm-rightleg-leftleg-galg.png);
  position: absolute;
  z-index: 16;
  background-repeat: no-repeat;
  background-position: center;
}
