* {
  padding: 0;
  margin: 0;
  z-index: 0;
  overflow-x: hidden;
}
.screen-overlay {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  position: static;
}

.game-box {
  position: relative;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 500px;
  background: transparent;
  border: 2px solid rgba(119, 92, 92, 0.5);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h1 {
  color: aliceblue;
  margin-bottom: 0rem;
}

#keyboard button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
}
#hangman {
  width: 100px;
  height: 200px;
  position: relative;
}

.hide {
  display: none;
}

#head {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 50%;
}

#body {
  width: 10px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50px;
  left: 45px;
}

#leftArm,
#rightArm,
#leftLeg,
#rightLeg {
  width: 30px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
}

#leftArm {
  top: 55px;
  left: 15px;
}

#rightArm {
  top: 55px;
  left: 55px;
}

#leftLeg {
  top: 100px;
  left: 15px;
}

#rightLeg {
  top: 100px;
  left: 55px;
}
