* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  animation: animateBg 7s linear infinite;
}

.login-box {
  position: relative;
  width: 600px;
  height: 650px;
  background: transparent;
  border: 2px solid rgba(119, 92, 92, 0.5);
  border-radius: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h1 {
  color: rgb(0, 0, 0);
  margin-right: 1rem;
}
